## 0. Load imports

In [6]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [8]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.987540,38.903968,20008120,2020/01/14 15:49:55+00,DAY,OTHERS,THEFT F/AUTO,1200 - 1299 BLOCK OF NEAL STREET NE,401081.0,137345.0,...,008802 3,8802.0,Precinct 77,38.903960,-76.987537,NaN,2020/01/14 15:04:04+00,NaN,673713315,NaN
1,-77.004840,38.833739,20008192,2020/01/14 19:43:04+00,DAY,GUN,ASSAULT W/DANGEROUS WEAPON,100 - 165 BLOCK OF MISSISSIPPI AVENUE SE,399580.0,129549.0,...,009803 3,9803.0,Precinct 124,38.833731,-77.004837,NaN,2020/01/14 17:17:37+00,NaN,673713316,NaN
2,-76.999472,38.907644,20008246,2020/01/14 20:09:52+00,EVENING,OTHERS,THEFT/OTHER,400 - 499 BLOCK OF MORSE STREET NE,400046.0,137753.0,...,008803 2,8803.0,Precinct 76,38.907636,-76.999470,NaN,2020/01/10 23:00:00+00,2020/01/14 18:00:44+00,673713317,NaN
3,-76.982729,38.916480,20008501,2020/01/15 03:28:53+00,EVENING,OTHERS,THEFT/OTHER,1500 - 1599 BLOCK OF NEW YORK AVENUE NE,401498.0,138734.0,...,008803 1,8803.0,Precinct 76,38.916472,-76.982727,NaN,2020/01/15 02:31:24+00,NaN,673713318,NaN
4,-76.980077,38.917191,20009148,2020/01/16 04:12:47+00,MIDNIGHT,OTHERS,THEFT/OTHER,1600 - 1779 BLOCK OF NEW YORK AVENUE NE,401728.0,138813.0,...,008803 1,8803.0,Precinct 76,38.917184,-76.980074,NaN,2020/01/16 01:15:36+00,2020/01/16 01:19:54+00,673713319,NaN

(27931, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27931 entries, 0 to 27930
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27931 non-null  float64
 1   Y                     27931 non-null  float64
 2   CCN                   27931 non-null  int64
 3   REPORT_DAT            27931 non-null  object
 4   SHIFT                 27931 non-null  object
 5   METHOD                27931 non-null  object
 6   OFFENSE               27931 non-null  object
 7   BLOCK                 27931 non-null  object
 8   XBLOCK                27931 non-null  float64
 9   YBLOCK                27931 non-null  float64
 10  WARD                  27931 non-null  int64
 11  ANC                   27931 non-null  object
 12  DISTRICT              27902 non-null  float64
 13  PSA                   27896 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27931 non-null  object
 15  BLOCK_GROUP           27930 non-null  object
 16  CENSUS_TRACT          27930 non-null  float64
 17  VOTING_PRECINCT       27931 non-null  object
 18  LATITUDE              27931 non-null  float64
 19  LONGITUDE             27931 non-null  float64
 20  BID                   4658 non-null   object
 21  START_DATE            27931 non-null  object
 22  END_DATE              24850 non-null  object
 23  OBJECTID              27931 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

#### Warm-up: Ways to add 100 to column X

In [10]:
df["X"]+=100
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27931 entries, 0 to 27930
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27931 non-null  float64
 1   Y                     27931 non-null  float64
 2   CCN                   27931 non-null  int64
 3   REPORT_DAT            27931 non-null  object
 4   SHIFT                 27931 non-null  object
 5   METHOD                27931 non-null  object
 6   OFFENSE               27931 non-null  object
 7   BLOCK                 27931 non-null  object
 8   XBLOCK                27931 non-null  float64
 9   YBLOCK                27931 non-null  float64
 10  WARD                  27931 non-null  int64
 11  ANC                   27931 non-null  object
 12  DISTRICT              27902 non-null  float64
 13  PSA                   27896 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27931 non-null  object
 15  BLOCK_GROUP           27930 non-null  object
 16  CENSUS_TRACT          27930 non-null  float64
 17  VOTING_PRECINCT       27931 non-null  object
 18  LATITUDE              27931 non-null  float64
 19  LONGITUDE             27931 non-null  float64
 20  BID                   4658 non-null   object
 21  START_DATE            27931 non-null  object
 22  END_DATE              24850 non-null  object
 23  OBJECTID              27931 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

In [11]:
df["X"].add(100)
df.info()

0        123.012460
1        122.995160
2        123.000528
3        123.017271
4        123.019923
            ...
27926    122.900569
27927    123.005634
27928    123.029624
27929    122.940778
27930    122.970368
Name: X, Length: 27931, dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27931 entries, 0 to 27930
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27931 non-null  float64
 1   Y                     27931 non-null  float64
 2   CCN                   27931 non-null  int64
 3   REPORT_DAT            27931 non-null  object
 4   SHIFT                 27931 non-null  object
 5   METHOD                27931 non-null  object
 6   OFFENSE               27931 non-null  object
 7   BLOCK                 27931 non-null  object
 8   XBLOCK                27931 non-null  float64
 9   YBLOCK                27931 non-null  float64
 10  WARD                  27931 non-null  int64
 11  ANC                   27931 non-null  object
 12  DISTRICT              27902 non-null  float64
 13  PSA                   27896 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27931 non-null  object
 15  BLOCK_GROUP           27930 non-null  object
 16  CENSUS_TRACT          27930 non-null  float64
 17  VOTING_PRECINCT       27931 non-null  object
 18  LATITUDE              27931 non-null  float64
 19  LONGITUDE             27931 non-null  float64
 20  BID                   4658 non-null   object
 21  START_DATE            27931 non-null  object
 22  END_DATE              24850 non-null  object
 23  OBJECTID              27931 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

In [14]:
offense_by_ward = df.groupby("WARD")["OFFENSE"].nunique()

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

In [16]:
df.groupby("WARD")["OFFENSE"].agg(
    Unique_Offenses ="nunique",
    offenses_list=lambda x: ", ".join(x.unique())
)

      Unique_Offenses                                      offenses_list
WARD
1                   9  BURGLARY, THEFT F/AUTO, ROBBERY, THEFT/OTHER, ...
2                   9  THEFT F/AUTO, THEFT/OTHER, BURGLARY, HOMICIDE,...
3                   8  THEFT F/AUTO, THEFT/OTHER, BURGLARY, MOTOR VEH...
4                   8  THEFT F/AUTO, BURGLARY, THEFT/OTHER, MOTOR VEH...
5                   9  THEFT F/AUTO, THEFT/OTHER, MOTOR VEHICLE THEFT...
6                   9  THEFT/OTHER, ROBBERY, MOTOR VEHICLE THEFT, THE...
7                   9  ROBBERY, THEFT/OTHER, THEFT F/AUTO, MOTOR VEHI...
8                   9  ASSAULT W/DANGEROUS WEAPON, THEFT/OTHER, THEFT...

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

In [18]:

df.groupby(["WARD","SHIFT"])["OFFENSE"].agg(lambda x: x.value_counts().idxmax())

WARD  SHIFT
1     DAY                        THEFT/OTHER
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
2     DAY                        THEFT/OTHER
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
3     DAY                        THEFT/OTHER
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
4     DAY                       THEFT F/AUTO
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
5     DAY                       THEFT F/AUTO
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
6     DAY                        THEFT/OTHER
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
7     DAY                       THEFT F/AUTO
      EVENING                    THEFT/OTHER
      MIDNIGHT                   THEFT/OTHER
8     DAY                       THEFT F/AUTO
      EVENING                    THEFT/OTHER
      MIDNIGHT    ASSAULT W/DANGEROUS WEAPON
Name: OFFENSE, dtype: object

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

In [21]:
print(df.LATITUDE.mean(),df.LONGITUDE.mean())

38.907610313323346 -77.00704715317242

## 2. Creating new columns/transforming their type

### Simple filtering

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

But there is a built in pandas way to emulate this.

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

In [24]:
is_theft = lambda x: x["OFFENSE"].str.contains("THEFT")
is_theft_notmotor = lambda x: x["OFFENSE"].str.contains("THEFT") & ~ x["OFFENSE"].str.contains("MOTOR")

df["is_theft_notmotor"] = np.where(lambda x: x["OFFENSE"].str.contains("THEFT") & ~ x["OFFENSE"].str.contains("MOTOR"))
df["is_theft_notmotor"]

/var/folders/9_/fcykl83s1dncqz69y6vx8b6w0000gn/T/ipykernel_1353/1067931183.py:4: DeprecationWarning: Calling nonzero on 0d arrays is deprecated, as it behaves surprisingly. Use `atleast_1d(arr).nonzero()` if the old behavior was intended.
  df["is_theft_notmotor"] = np.where(lambda x: x["OFFENSE"].str.contains("THEFT") & ~ x["OFFENSE"].str.contains("MOTOR"))

ValueError: Length of values (1) does not match length of index (27931)

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

In [28]:
categories = ["Violet Theft","Violent Other"]
conditions = [(df.METHOD.str.contains("GUN|KNIFE")) & (df.OFFENSE.str.contains("THEFT")),
              (df.METHOD.str.contains("GUN|KNIFE")) &~  (df.OFFENSE.str.contains("THEFT"))]
df["offense_summary"] = np.select(conditions,categories,default="Non-Violent")

In [30]:
df["offense_summary"]

0          Non-Violent
1        Violent Other
2          Non-Violent
3          Non-Violent
4          Non-Violent
             ...
27926      Non-Violent
27927      Non-Violent
27928      Non-Violent
27929      Non-Violent
27930      Non-Violent
Name: offense_summary, Length: 27931, dtype: object

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

In [33]:
cats = ["Nighttime", "Nighttime","Daytime"]
conds = ["EVENING","MIDNIGHT","DAY"]
conversion = dict(zip(conds,cats))
df["time_of_day"] = df["SHIFT"].map(conversion)
df["time_of_day"]

0          Daytime
1          Daytime
2        Nighttime
3        Nighttime
4        Nighttime
           ...
27926    Nighttime
27927    Nighttime
27928    Nighttime
27929    Nighttime
27930      Daytime
Name: time_of_day, Length: 27931, dtype: object

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new variable--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

In [37]:
df["OFFENSE"].str.replace(" ","_")

0                      THEFT_F/AUTO
1        ASSAULT_W/DANGEROUS_WEAPON
2                       THEFT/OTHER
3                       THEFT/OTHER
4                       THEFT/OTHER
                    ...
27926                   THEFT/OTHER
27927                  THEFT_F/AUTO
27928                   THEFT/OTHER
27929                   THEFT/OTHER
27930                  THEFT_F/AUTO
Name: OFFENSE, Length: 27931, dtype: object

### Transforming column types

**Task**: check the type of the `START_DATE` column

In [40]:
df["START_DATE"].dtype

dtype('O')

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

In [43]:
df["START_DATE_CLEAN"] = pd.to_datetime(df["START_DATE"])
df["START_DATE_CLEAN"].dtype

datetime64[ns, UTC]

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

In [46]:
print(df["START_DATE_CLEAN"].min(), df["START_DATE_CLEAN"].max())
print(df["START_DATE"].min(), df["START_DATE"].max())

1940-02-17 00:00:16+00:00 2021-01-01 02:30:21+00:00
1940/02/17 00:00:16+00 2021/01/01 02:30:21+00

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

In [50]:
df[ (is_theft(df) == True) & (df["WARD"] == 3)]

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,offense_summary,time_of_day,START_DATE_CLEAN
21,22.926801,38.926863,20060740,2020/04/19 05:54:37+00,MIDNIGHT,OTHERS,THEFT F/AUTO,2800 - 2899 BLOCK OF WISCONSIN AVENUE NW,393653.0,139889.0,...,38.926855,-77.073197,NaN,2020/04/18 19:25:52+00,2020/04/18 19:31:53+00,673720665,NaN,Non-Violent,Nighttime,2020-04-18 19:25:52+00:00
32,22.930927,38.917353,20017305,2020/01/29 12:46:24+00,DAY,OTHERS,THEFT F/AUTO,2001 - 2112 BLOCK OF WISCONSIN AVENUE NW,394010.0,138833.0,...,38.917345,-77.069071,NaN,2020/01/29 04:09:37+00,2020/01/29 10:45:16+00,673714145,NaN,Non-Violent,Daytime,2020-01-29 04:09:37+00:00
36,22.936080,38.944876,20001669,2020/01/03 20:32:51+00,EVENING,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.0,141888.0,...,38.944868,-77.063918,NaN,2020/01/03 19:51:36+00,NaN,673713219,NaN,Non-Violent,Nighttime,2020-01-03 19:51:36+00:00
73,22.924173,38.947094,20047077,2020/03/18 01:07:16+00,EVENING,OTHERS,THEFT F/AUTO,3800 - 3899 BLOCK OF ALTON PLACE NW,393427.0,142135.0,...,38.947086,-77.075825,NaN,2020/03/17 16:00:30+00,2020/03/17 17:00:07+00,673691568,NaN,Non-Violent,Nighttime,2020-03-17 16:00:30+00:00
110,22.900127,38.942211,20048137,2020/03/19 19:50:08+00,EVENING,OTHERS,THEFT F/AUTO,5000 - 5101 BLOCK OF UPTON STREET NW,391342.0,141595.0,...,38.942204,-77.099870,NaN,2020/03/19 17:00:11+00,2020/03/19 18:30:17+00,673716925,NaN,Non-Violent,Nighttime,2020-03-19 17:00:11+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27849,22.942735,38.930854,20400842,2020/06/24 17:19:20+00,DAY,OTHERS,THEFT/OTHER,2700 - 2799 BLOCK OF CORTLAND PLACE NW,395035.0,140331.0,...,38.930846,-77.057262,NaN,2020/06/22 12:00:00+00,2020/06/22 21:00:00+00,674255149,NaN,Non-Violent,Daytime,2020-06-22 12:00:00+00:00
27897,22.913026,38.959040,20059783,2020/04/16 21:22:42+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,4400 - 4499 BLOCK OF JENIFER STREET NW,392462.0,143462.0,...,38.959032,-77.086972,NaN,2020/03/28 01:55:01+00,2020/03/28 02:05:22+00,674255394,NaN,Non-Violent,Nighttime,2020-03-28 01:55:01+00:00
27925,22.940343,38.937528,20401829,2020/11/15 18:53:56+00,DAY,OTHERS,THEFT/OTHER,3600 - 3699 BLOCK OF CONNECTICUT AVENUE NW,394828.0,141072.0,...,38.937520,-77.059655,NaN,2020/10/31 18:30:00+00,2020/11/08 18:30:00+00,674255554,NaN,Non-Violent,Daytime,2020-10-31 18:30:00+00:00
27926,22.900569,38.923051,20031083,2020/02/20 22:41:51+00,EVENING,OTHERS,THEFT/OTHER,5000 - 5099 BLOCK OF MACARTHUR COURT NW,391378.0,139468.0,...,38.923043,-77.099428,NaN,2020/02/13 21:07:38+00,2020/02/20 12:00:55+00,674255559,NaN,Non-Violent,Nighttime,2020-02-13 21:07:38+00:00
27929,22.940778,38.926646,20401320,2020/09/05 19:49:00+00,EVENING,OTHERS,THEFT/OTHER,2910 - 2999 BLOCK OF GARFIELD STREET NW,394865.0,139864.0,...,38.926638,-77.059219,NaN,2020/09/04 22:00:00+00,2020/09/05 13:00:00+00,674255588,NaN,Non-Violent,Nighttime,2020-09-04 22:00:00+00:00

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

In [54]:
selected_columns = df[['START_DATE', 'END_DATE']]
print(selected_columns.head())

               START_DATE                END_DATE
0  2020/01/14 15:04:04+00                     NaN
1  2020/01/14 17:17:37+00                     NaN
2  2020/01/10 23:00:00+00  2020/01/14 18:00:44+00
3  2020/01/15 02:31:24+00                     NaN
4  2020/01/16 01:15:36+00  2020/01/16 01:19:54+00

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

In [57]:
list_df = df[ [col for col in df.columns if "DATE" in col]]
list_df.head()

               START_DATE                END_DATE          START_DATE_CLEAN
0  2020/01/14 15:04:04+00                     NaN 2020-01-14 15:04:04+00:00
1  2020/01/14 17:17:37+00                     NaN 2020-01-14 17:17:37+00:00
2  2020/01/10 23:00:00+00  2020/01/14 18:00:44+00 2020-01-10 23:00:00+00:00
3  2020/01/15 02:31:24+00                     NaN 2020-01-15 02:31:24+00:00
4  2020/01/16 01:15:36+00  2020/01/16 01:19:54+00 2020-01-16 01:15:36+00:00

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows

In [60]:
filtered = df[ (df["START_DATE_CLEAN"] < pd.to_datetime("2020/05/01 12:00:00+00")) & (df["WARD"] == 1)]
filtered[["WARD", "START_DATE_CLEAN"]].sample(5)

       WARD          START_DATE_CLEAN
8001      1 2020-01-13 00:08:52+00:00
12484     1 2020-01-25 01:33:39+00:00
22499     1 2020-02-12 20:12:53+00:00
11044     1 2020-02-25 21:45:57+00:00
17931     1 2020-01-25 20:00:21+00:00

awwra